
.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  padding: 25px 50px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  background-image: url(./img/scale_1200.webp);
  background-size: cover;
  color: transparent;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, rotate .3s ease-in-out;
}


.card.open {
  /* background-color: blueviolet; */
  background-image: none;
  color: white;

}

.card.success {
  /* background-color: rgb(226, 43, 153); */
  color: white;
  transform: scale(0.95);
}

.btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: bisque;
  cursor: pointer;
}

.img {
  position: absolute;
  width: 200px;
  height: 200px;
z-index: -1;
}
